---
# Based on AzerothCore C++ code style
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
PointerAlignment: Left
ReferenceAlignment: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: None
AlignOperands: Align
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
NamespaceIndentation: None
